span {
  font-size: 175%;
}

.learning-page {
  height: 100vh;
}

.learning-page p {
  padding: 0;
}

.top-panel {
  text-align: center;
}

.Button {
  width: 100%;
}

.DisplayFeedback {
  margin-bottom: 50px;
}



.DisplayScore > p {
  margin-top: 25px;
}


form {
  margin-top: 50px;
  margin-bottom:50px;
}