@import url('https://fonts.googleapis.com/css?family=Ubuntu');


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #7F7DF8;/*#F8F8F8;#eaffff;#C6FDFD;*/
} 
body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic',/*"Ubuntu",*/ sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Inter', sans-serif;
}

:root {
  --font-size: calc(10px + 1vmin);
}

a {
  font-family: 'Inter', sans-serif;
}
a:link {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color:cornsilk;
}

.button-link:link , .button-link:active,
.button-link:visited, .button-link:hover {
  color:black;
}

header {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: row;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: #7F7DF8;
  border-style: solid;
  border-width: 1px;
  border-color: #5d59f6;
  /* color-adjust: exact; */
  margin-bottom: 40px;
}
header :not(h1){
  text-align: center;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:active {
  color: white;
}
header a:visited {
  color:white;
}
h1 a:visited {
  color: white;
}
nav a:hover {
  border-bottom: 1px solid
}

h1 {
  margin: 0px;
  flex:2;
  /* display: inline; */
  margin-bottom: 5px;
  font-size: 210%
}
header div {
  /* display: inline-flex; */
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-weight: 500;
  font-size: 110%;
}
header span, footer span {
  color: white;
  font-style: italic;
}

nav {
  /* display: inline-flex; */
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-weight: 500;
  font-size: 110%;
}

nav a, header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

footer {
  padding: 15px 5px 15px 40px;
  display: flex;
  flex-flow: row;
  border-top: 1px solid #5d59f6;
  margin-top: 40px;
}

footer #signature {
  flex: 1;
  text-align: center;
  align-self: center;
}

footer .panel-middle {
  flex: 2;
}

footer nav {
  flex: 1;
}



.Button {
  font-size: 100%;
  border-radius: 20px;
  border-style: none;
  border-image: none; 
  background-color: #FDFDFD;
  padding: 5px;
  width: 175px;
}

form .Button {
  width: 100px;
}


section#registration, section#login , section#dashboard {
  height: 100vh;
}

section#registration h2, section#login h2{
    text-align: center;
}

section#dashboard {
  
  padding-left: 40px;
}

.dashboard-top {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #AB95FD;
}

.dashboard-top * {
  display: inline;

} 

.dashboard-top h2 {
  margin-top: 0px;
  padding: 20px 0px 20px 0px
}

.dashboard-top .Button {
  margin-left: 25%;
}

.word-summary-list-container .wordsummarylist-panel-top {
  padding-left: 40px;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-left: 30px;
}

.word-summary {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 1px solid #AB95FD;
  border-bottom: 1px solid #AB95FD;
}
.word-summary h3, .word-summary h4 {
  margin: 0px;
}

.word-summary .word-panel-top {
  margin-bottom: 5px;
}

.word-summary .word-panel-bottom {
  font-size: 80%;
  margin-bottom: 5px;
}

form {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
form div {
  display: flex;
  justify-content: space-between;
}
form .form-bottom {
  display: flex;
  flex-flow: column;
}
form .Button {
  align-self: center;
}




main {
  font-size: 120%;

}

main p {
  margin: 0px;
  padding-left:40px;
}


main div h2 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  
}

.form-container {
  padding: 0;
  border-left: 1px solid #AB95FD;
}

.margin-container {
  margin-left: 5%;
}
.margin-bar {
  border-left: 1px solid #AB95FD;
}

form div {
  margin-top: 10px;
  margin-bottom: 20px;
}

.er-msg p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  border-style: none;
  color:rgb(255, 228, 224);
}

.er-msg {
  margin: 0;
  padding: 0;
}


@media all and (max-width: 900px) {
  footer #signature {
    flex:2;
  }
}

@media all and (max-width: 800px) {
  footer nav {
    flex:2;
  }
}

@media all and (max-width: 700px) {
  footer .panel-middle {
    flex: 1;
  }
}

@media all and (max-width: 615px) {

  body {
    text-align: center;
  }
  header {
    padding-left: 0px;
    display: block;
  }
  nav {
    justify-content: center;
  }
  nav a{
    margin-right: 20px;
  }

  form {
    margin-left: 10%;
    margin-right:10%;
  }

  footer .panel-middle {
    flex: 0;
  }

  footer #signature {
    flex: 5;
  }

  footer nav {
    flex: 5;
  }
}

@media all and (max-width: 450px) {

  .margin-container {
    margin-left: 0px;
  }
  .margin-bar {
    border-left: none;
  }
  main p {
    padding-left:10px;
    padding-right:10px;
  }
  form div{
    flex-flow: column;
  }
  form div input {
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
  }

  footer {
    padding-left: 0px;
    flex-flow: column-reverse;
  }
}


@media all and (min-width: 700px) {
  form {
    margin-left: 24%;
    margin-right: 24%;
  }

}

@media all and (min-width: 920px) {
  form {
    margin-left: 30%;
    margin-right:30%;
  }
}

@media all and (min-width: 1100px) {
  form {
    margin-left: 34%;
    margin-right: 34%;
  }
}